.col-left
  #main.single
    / Post Starts
    .box3-top
    .post.wrap
      %h2
        %a{:href => "http://www.grumpiverse.com/?p=1", :rel => "bookmark", :title => "Poor People"} Poor People
      %p.post-details
        Posted on 05. Jul, 2010 by
        %a{:href => "http://www.grumpiverse.com/?author=1", :title => "Posts by Ian"} Ian
        in
        %a{:href => "http://www.grumpiverse.com/?cat=1", :rel => "category", :title => "View all posts in Uncategorized"} Uncategorized
        | 1 Comment
      %p CEO of Grump Enterprises here again to share with you a huge problem we currently have.  A global problem.  It’s everywhere.  An epidemic threatening to destroy humanity.  Before long you may find yourself directly effected.  You’ve probably seen it: the uptick in Hyundai and Kia cars on the roads.  The number of Wal-marts popping up everywhere.  The long lines at McDonald’s drive-throughs.  The spread of Costco’s into middle class neighborhoods.  The number of people that don’t know how to order using Starbuck’s size system.  Yup, you guessed it, I’m talking about poor people.
      %p These people are everywhere.  It has only gotten worse over the last few years.  Anyone could be a poor person and you may never know!  That’s the scary part.  What if your best friend is poor?  Are you willing to risk it?  Do you know the transmission rate?  I didn’t think so.  Time to rethink your daily actions to limit your exposure.  If you don’t heed my words you may soon find yourself ordering off of the Ruby Tuesday’s 2 for $20 menu.  Then I would be telling you “I told you so” over Facetime, but you won’t be able to afford an iPhone 4.  I know, gut wrenching.
      %p Here are a few tips to keep yourself safe:
      %p First, avoid the HOV lane at all costs.  You have to assume anyone doubling or tripling up in their already sub 20 thousand dollar “economy” car to save on gas money is probably pretty low on funds.
      %p Secondly, don’t fall for those McCafe ads.  “Oh, a cheaper alternative to my higher priced gourmet coffee?  And it is still gourmet but from McDonald’s?”  Sorry, liquid poverty.  Avoid it.
      %p Thirdly, avoid the entire state of Mississippi.  I shouldn’t have to explain this.
      %p Now, you know me.  I’m not the kind of guy to raise a warning flag and not provide potential solutions to the problem.  I’m a business person.  An idea guy.  I solve these things.  So, here are a few ideas to drastically reduce the number of poor people we have loafing about:
      %p First, make being poor illegal.  It is a first step and sends the right message.  Hopefully this cuts down on at least a small percentage.
      %p Secondly, have the NIH spend some time and money on a vaccine.  Even if we can’t create one maybe the research will help us to identify a poor gene that may be suppressed later.
      %p Thirdly, employers must band together to stop hiring these people!  Hiring a poor person is just going to allow them to feed themselves and reproduce.  At that point, what do you have?  Many more tiny poor people.  This kind of thing increases their numbers exponentially.
      %p Now, there will be times when you do find yourself face to face with a poor person.  You simply won’t be able to prevent it despite taking all the precautions in the world.  Here is how to protect yourself:  Go buy some index cards somewhere.  You don’t need many.  Now, on these index cards write “Food Stamps.”  You’re done!  Next time you are cornered or surrounded by poor people, simply toss these index cards into the air and away from you while yelling “Food Stamps!”  This will cause a stampede, so be prepared.  During the ensuing mayhem you can make your escape.
      %p Now, there are groups out there that are trying to promote poor people.  They do so brazenly and have a lot of clout.  One such group, the NAACP (National Association for the Advancement of the Chronically Poor), is probably the largest.  Be warned and avoid them at all costs!
      %p To be completely clear, I do not expect to fully eliminate this pestilence.  That is crazy right wing radio host talk.  Don’t lump me in with that group.  I fully understand that society needs an element of poor people.  A small percentage if you will.  These people are absolutely necessary to keep things working the way they have for thousands of years.  These few remaining poor people play a vital role.  After all, if there were no poor people, who would look on with envy when I drive my brand new Tesla Roadster slowly past a Golden Corral?
      %p All is not lost.  Together we can beat this!  Now get out there and do your part to eradicate poor people!
#sidebar.col-right
  %div{:style => "border:1px solid red; width: 100%;"}