.flash { padding: 10px 10px 10px 30px; border: 2px solid black; margin-bottom: 10px; }
.flash a.close { display:block; margin-top: 1px; float:right; text-decoration:none; text-align:center; }
.alert { background:#FFF6BF url(/images/icons/16x16/warning.png) 7px 50% no-repeat; color: #514721; background-color: #FFF6BF; border-color: #FFD324; }
.notice { background:#D1FF9C url(/images/icons/16x16/accept.png) 7px 50% no-repeat; color: #264409; background-color: #D1FF9C; border-color: #C6D880; }

.clear { clear: both; }

#navigation { list-style: none; margin: 0px; padding: 0px; }
#navigation li { float: left; margin-right: 10px; }

#header { clear: both; border-bottom: 1px solid black; padding: 20px 10px 10px 10px; }
#sidebar { width: 400px; float: right; }
#footer { color: #aaa; }

form table { float: left; }
form table th { text-align: right; vertical-align: top; }
form table th.title { text-align: center; color: #999; border-bottom: 1px solid #999; }
form table th div { float: right; }
form table.speech { margin-left: 10px; }

iframe { border-bottom: 1px solid black; }