#twitter .follow { clear: both; padding-top: 10px; }
#twitter .follow a { color: #44a7ec; text-decoration: underline; font-weight: bold; }


/* Main Content (style) */

#main a { text-decoration: underline; }
#main a:hover {	text-decoration: none; }
#main h2, #main h3 { font-weight: normal; }
#main h2 { font-size: 24px;	padding-top:0; }
#main h3 {font-size: 18px; }
#main h4 { font-size: 12px; }
#main ol, #main ul { line-height: 18px; }
#main ul { padding-left: 50px; }
#main ul li { list-style: circle; padding: 3px 0; }
#main ol { padding-left: 57px; }
#main ol li { list-style: decimal; padding: 3px 0; }
#main blockquote {
	background:url(/images/box3-bg.png) repeat top left;
	border-left:2px solid #222;
	color:#fff;
	font-style:italic;
	margin:5px auto 5px;
	padding:10px 20px;
	width:90%;
}

.social { margin-top: 20px; background-color: #eee; padding: 10px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.social h3 { margin: -10px 0px 0px 0px; color: #999; width: 500px; float: right; text-align: right; padding-right: 10px; }

.character-left { float: left; margin-bottom: 10px; padding-top: 25px; }
.character-left img { margin-right: 10px; }
.character-left a.follow { width: 100%; text-align: center; display: block; margin-top: 10px; }
.character-left .follow-links { width: 100%; text-align: center; display: block; margin-top: 10px; }
.character-left .follow-links a { color: #44a7ec; font-weight: bold; text-decoration: none; }
.character-left .follow-links img { margin: 20px 0px 5px 0px!important; border: 3px solid white; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#character_tweet { width: 300px; color: black; float: left; margin: 0px!important; padding: 10px; background-color: white; border: 2px solid #c2ecf7; -moz-border-radius: 6px; -webkit-border-radius: 6px; display: block; }
#character_tweet ul { padding: 0px !important;}
#character_tweet ul li { list-style: none!important; padding: 0px!important;}

.character-right h1 { padding-top: 25px; }
.character-right h2 { font-size: 16px; }

.character-right a.back { color: white; text-decoration: none!important; float: right; }
.character-right a.back:hover { color: white; text-decoration: underline!important;}

.character-navigation { margin-top: 20px; }
.next-character { float: right; color: white; display: block; font-size: 14px; width: 300px; text-align: right; text-decoration: none!important; }
.next-character:hover { text-decoration: underline!important; }
.previous-character { display: block; color: white; font-size: 14px; width: 300px; text-decoration: none!important; }
.previous-character:hover { text-decoration: underline!important; }

ul.articles { display: block; list-style: none; margin: 0px; padding: 0px!important;  }
ul.articles li { clear: both; padding: 8px!important; display: block; margin-bottom: 5px; background: rgba(0,0,0,0.15); }
ul.articles li img { float: left; margin: 0px 10px 0px 0px; border: 2px solid white; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
ul.articles li .title { font-size: 20px; }
ul.articles li .title a { color: white; text-decoration: none!important;}
ul.articles li .date { font-style: italic; }

ul.cast { display: block; list-style: none; margin: 0px; padding: 0px!important;  }
ul.cast li { padding: 8px!important; display: block; margin-bottom: 5px;}
ul.cast li img { float: left; margin-right: 10px; }
ul.cast li .name { font-size: 20px; float: left; }
ul.cast li .desc { float: left; width: 550px;}
ul.cast li .name a { color: white; text-decoration: none!important; }

.article img { display: block; border: 5px solid white; -moz-border-radius: 8px; -webkit-border-radius: 8px; margin: 0px auto 0px auto; }
.article .comments { display: block; float: right; font-size: 16px; color: white; margin-top: 10px;}
.article h2 { margin-bottom: 0px; padding-bottom: 5px; }
.article p.meta { margin-top: 0px; padding-top: 0px; padding-bottom: 0px; color: #ddd; }
.article p.credits { color: #999; padding-bottom: 0px; }
.article p.credits a { color: #999; }

h3.archives { margin-bottom: 0px!important; padding-bottom: 0px!important; }
ul.archives a { font-weight: bold; margin-top: 0px!important; padding-top: 0px!important; }

.article-navigation { margin-top: 20px; }
.next-article { float: right; color: white; display: block; font-size: 14px; width: 300px; text-align: right; text-decoration: none!important; }
.next-article:hover { text-decoration: underline!important; }
.previous-article { display: block; color: white; font-size: 14px; width: 300px; text-decoration: none!important; }
.previous-article:hover { text-decoration: underline!important; }

.character-social { clear: both; margin-top: 10px; background-color: #eee; padding: 10px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}

p.byline img { float: left; margin-right: 10px; }
p.byline a { font-weight: bold; color: white; }
p.meta { clear: both; }

a.read-more { color: white; font-size: 14px; text-decoration: underline;}

#mc-embedded-subscribe-form { border: 2px solid white; background-color: rgba(0,0,0,0.5); -moz-border-radius: 6px; -webkit-border-radius: 6px; }
#mc-embedded-subscribe-form h3 { font-family: Bigfish, serif; font-size: 28px; width:100%; height:34px; margin-bottom: 0px; padding-bottom: 0px; text-align: center; }
#mc-embedded-subscribe-form p { margin-top: 0px; padding-top: 0px; text-align: center; }
#mc-embedded-subscribe-form fieldset { border: none; }
#mc-embedded-subscribe-form input[type=submit] { float: right; padding: 10px; font-weight: bold; cursor: pointer; color: #FFFFFF; background: #660099; border: 1px solid #550080; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
#mc-embedded-subscribe-form input[type=text] { font-size: 18px; width: 170px; margin-right: 10px; padding: 4px;}
#mc-embedded-subscribe-form .initial { color: #999; }

#fb-sidebar { display: block; width: 220px; height: 70px; background:#3b5998 url(/images/fb-sidebar.png) no-repeat top left; border: 5px solid white; -moz-border-radius: 6px; -webkit-border-radius: 6px; cursor: hand; margin-bottom: 20px; }
#tw-sidebar { display: block; width: 220px; height: 70px; background:#5d9fc0 url(/images/tw-sidebar.png) no-repeat top left; border: 5px solid white; -moz-border-radius: 6px; -webkit-border-radius: 6px; cursor: hand; margin-bottom: 0px; }
#tw-cast-sidebar { display: block; width: 220px; text-align: center; color: #44a7ec; text-decoration: none; font-weight: bold; margin-bottom: 20px; }
#tw-cast-sidebar:hover { color: #44a7ec!important; text-decoration: underline; }
#gg-sidebar { display: block; width: 220px; height: 231px; background:#5d9fc0 url(/images/gg-sidebar.png) no-repeat top left; border: 5px solid white; -moz-border-radius: 6px; -webkit-border-radius: 6px; cursor: hand; margin-bottom: 20px; }

#featured-articles div.group { clear: both; margin-top: 0px!important; padding-top: 0px!important; margin-bottom: 20px!important; }
#featured-articles a { padding: 0px; }
#featured-articles a img { padding: 0px; border: 2px solid white; -moz-border-radius: 4px; -webkit-border-radius: 4px; display: block; margin: 0px 20px 20px 0px; }

#features h3 { width: 100%; text-align: center; font-family: Bigfish; font-size: 36px; margin-top: -10px!important; padding-top: 0px!important;}