#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "http://grumpiverse.us1.list-manage.com/subscribe/post?u=89d29705020ff837b69494bf7&id=4025a3a8d4", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
    %h3 Get more Grump!
    %fieldset
      %p Turn Hump Day into Grump Day:  Sign up for our weekly mailing list for more content and special deals!  We won't spam or sell it.
      %div
        %input#mc-embedded-subscribe.btn{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
      .mc-field-group
        %input#mce-EMAIL.required.email.initial{:name => "EMAIL", :type => "text", :value => "Email Address"}