= link_to "", "http://www.facebook.com/pages/Grumpiverse/147009798662853", :id => "fb-sidebar"
= link_to "", "http://twitter.com/grumpiverse", :id => "tw-sidebar"
= link_to "or follow the whole cast!", "http://twitter.com/grumpiverse/lists/cast", :id => "tw-cast-sidebar"
= link_to "", "http://www.grumpygrams.com", :id => "gg-sidebar"