- @title = "Cast of the Grumpiverse"
- @meta_keywords = @characters.map{|c|c.name}.join(",")
- @meta_description = "TODO:  SEO Description for cast page"

%h1 The Cast of the Grumpiverse

%ul.cast
  - @characters.each do |character|
    %li
      = image_tag character.picture.url(:thumb)
      .name= link_to character.name, character
      .desc= character.render_short_description
      .clear