- if @comics.empty?
  %p
    There are no comics!
- else
  - @comics.each do |comic|
    = link_to image_tag(comic.image.url(:favorite)), admin_comic_path(comic)

  = will_paginate @comics

- content_for :sidebar do
  = link_to "Add Comic", new_admin_comic_path, :class => "add"
