- content_for :body do
  .col-left
    #main.single
      .box3-top
      .post.wrap
        = yield
      .box3-bot
  #sidebar.col-right
    = render :partial => "/shared/sidebar"
     
= render :file => 'layouts/application'